/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 dic 2022, 11:37:59
    Author     : adalsus
*/

pre {
    font-family: 'Times New Roman';
}


#mi_bmDV01_ {
    display: none;
}

#X_bmDV01_, #mi_bmDV01_ {
    cursor: pointer;
    background: #000000;
}

#X_bmDV01_ {
    display: block;
    margin-left: auto;
}


.opmm {
    color: #f0ff00;
    background: #000000;
    cursor: pointer;
}


#menumain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f0ff00;
    background: #000000;
    padding: 0.125em 0;
}

#img01 {
    margin-top: 4px;
    width: 100%;
}


#h2pCursos {
    display: table;
    width: 100%;
}
#h2hCursos {
    background-color: red;
    color: #f0ff00;
    left: 4px;
    height: 2em;
    padding-left: 4px;
    display: table-cell;
    vertical-align: middle;
}